@model Exception
@{
    ViewBag.Title = "oops";
}

<h2>That totally didn't work, dude</h2>

@if (Model!=null)
{
    <h1 id="error">@Model.Message</h1>
    <p>@Model.StackTrace</p>
    if (@Model.InnerException != null)
    {
        <p>@Model.InnerException.Message</p>
    }
}