@model Warhammer.Core.Entities.Award
<li><img src="@Url.Action("TrophyImage", "Home", new { id = Model.Trophy.Id }, null)" title="@Model.Trophy.Name @Model.Reason" alt="Picture of @Model.Trophy.Name" class="mini-trophy-image" /></li>
