@import "less/Bootstrap/bootstrap.less";
 
body {
    background: url('images/bg-large.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 80px;
}

@media screen and (max-width: 1700px) {

    body {
        background: url('images/bg-medium.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 850px) {

    body {
        background: url('images/bg-small.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

.content-wrapper {
  .make-row(); 
}

.banner-content {
  .make-xs-column(12);
}

.main-content {
   text-align: justify;
  .make-xs-column(12);
  .make-md-column(9);
  min-height: 300px;
  font-size: @font-size-large;
}

.core-content{
  .make-xs-column(12);
  .make-md-column(4);
  font-size: @font-size-large;
}

.side-bar {
  .make-xs-column(12);
  .make-md-column(3);
}

.core-content ul,
.side-bar ul{
     list-style-type: none;
}

.core-content,
.banner-content,
.main-content,
.side-bar
{
    opacity: 0.8;
    margin-bottom: 20px;
}

.header-block,
.content-block {
    
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: #333333 5px 5px 15px ;
    -webkit-box-shadow: #333333 5px 5px 15px ;
    box-shadow: #333333 5px 5px 15px ;
}
.content-block {
       background-color: white;
       overflow:auto;
}
.header-block
{
    margin: auto;
    text-align:center;
    background-color: black;
}

footer{
    opacity: 0.8;
    font-size: @font-size-small;
    text-align: center;
    color:white;
}
 
.header-block h1 {
font: 800 @font-size-jumbo 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.content-block h2 {
font: 800 @font-size-h2 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.content-block h2.page-content-heading 
{
    font: 600 @font-size-h1 'Great Vibes', Helvetica, sans-serif;
}

.mini-profile-image,
.profile-image{
    float:right;
        -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: #333333 5px 5px 15px ;
    -webkit-box-shadow: #333333 5px 5px 15px ;
    box-shadow: #333333 5px 5px 15px ;
}

.mini-profile-image{
        width: 80px;
    height: 80px;
        margin: 8px;
        margin-top: 0;
    }

.profile-image{
        width: 200px;
    height: 200px;
        margin: 20px;

}
.profile-footer {
    font-size: @font-size-small;
    color: @gray-light;
    text-align: right;
}

.edit-controls{
    position: absolute;
    top: 30px;
    left: 30px;

}

.tiny
{
    font-size: @font-size-base*0.8;
}

select 
{
    max-width:100%;
}