@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">
  
    <div class="banner-content">
        <div class="content-block">
            <h1>Carina Kindl</h1>
            <img src="http://warhammer.tycokaine.com/Attachments/Images/Characters/carina.jpg" height="200px" />
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            

        </div>
    </div>
    <div class="main-content">
        <div class="content-block">
            
            <p>
                Carina Kindl is a young, noble Reiklander, born and raised near the Imperial capital of Aldorf. She has a romanticised view of the Wild North and so took up her education in Middenheim (which has a University, can you belive it?), the last bastion of civilization in the Northern Empire.
            </p>
            <p>
                Although quite smart and well educated (she studied as a navigator at Middenhiem's Cartography Institute and speaks Brettonian and Tilean as well as Reikspiel), Carina is naïve and perhaps a little foolhardy.
            </p>
            <p>
                Carina is also a keen archer, but at only five feet tall she struggles to pull a longbow. She prefers using a cavalry bow even though she can't actually ride a horse, because the shallow tail means she can pull a longer string without the bottom catching on the ground.
            </p>


        </div>
    </div>
</div>