@model IEnumerable<Warhammer.Core.Entities.Page>
@if (Model.Any())
{
    foreach (Warhammer.Core.Entities.Page page in Model)
    {
        <li>@Html.ActionLink(page.FullName, "Index", "Page", new {id = page.Id}, null)</li>
    }
}